.cart {
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

.cart .cart-content {
  margin: 60px 0 100px;
}

.cart .cart-content .title {
  display: none;
}

.cart .cart-content .cart-content__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background: #F3F4FB;
  -webkit-box-shadow: 0px 47px 90px rgba(243, 244, 251, 0.53);
          box-shadow: 0px 47px 90px rgba(243, 244, 251, 0.53);
  border-radius: 22px;
  padding: 20px 110px 20px 60px;
  position: relative;
  max-height: 200px;
  z-index: 0;
}

.cart .cart-content .cart-content__product .cart-content__image {
  max-width: 200px;
}

.cart .cart-content .cart-content__product .cart-content__desc {
  max-width: 450px;
}

.cart .cart-content .cart-content__product .cart-content__desc .cart-content__title {
  font-weight: lighter;
  font-size: calc(18px + (6 + 6 * 0.7) * ((100vw - 320px) / 1920));
  line-height: 48px;
  color: #505B65;
  margin-bottom: 5px;
}

.cart .cart-content .cart-content__product .cart-content__desc .cart-content__text {
  font-weight: bold;
  font-size: calc(8px + (5 + 5 * 0.7) * ((100vw - 320px) / 1920));
  line-height: 26px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #A1A7B0;
}

.cart .cart-content .cart-content__product .cart-content__amounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart .cart-content .cart-content__product .cart-content__amounts .cart-content__amount {
  display: block;
  background: #FFFFFF;
  border-radius: 50px;
  width: 65px;
  height: 32px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: calc(8px + (5 + 5 * 0.7) * ((100vw - 320px) / 1920));
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #505B65;
}

.cart .cart-content .cart-content__product .cart-content__amounts .cart-content__plus, .cart .cart-content .cart-content__product .cart-content__amounts .cart-content__minus {
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: rgba(80, 91, 101, 0.5);
}

.cart .cart-content .cart-content__product .cart-content__prices .cart-content__price {
  font-weight: bold;
  font-size: 28px;
  line-height: 142.2%;
  color: #505B65;
}

.cart .cart-content .cart-content__product .cart-content__prices .cart-content__sale {
  font-size: calc(10px + (6 + 6 * 0.7) * ((100vw - 320px) / 1920));
  line-height: 142.2%;
  color: #DC0028;
}

.cart .cart-content .cart-content__product .cart-content__prices .cart-content__sale span {
  margin-right: 5px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.cart .cart-content .cart-content__product .cart-content__delete {
  position: absolute;
  top: 25px;
  right: 25px;
  background: #FFFFFF;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.cart .cart-content .cart-content__product .cart-content__delete .cart-content__basket {
  width: 15px;
  height: 13px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.cart .cart-content .cart-content__product .cart-content__delete:hover {
  background: #DC0028;
  -webkit-box-shadow: 0px 4px 18px rgba(220, 0, 40, 0.3);
          box-shadow: 0px 4px 18px rgba(220, 0, 40, 0.3);
}

.cart .cart-content .cart-content__product .cart-content__delete:hover .cart-content__basket {
  -webkit-filter: brightness(1000);
          filter: brightness(1000);
}

.cart .cart-content .cart-content__promocode {
  margin: 20px 0 0;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart .cart-content .cart-content__promocode .input {
  background: #F3F4FB;
  border-radius: 25px;
  max-width: 275px;
  border: 1px solid #F3F4FB;
}

.cart .cart-content .cart-content__promocode .input:focus {
  border: 1px solid #48B6FF;
}

.cart .cart-content .cart-content__promocode .btn {
  background: #9398AA;
  border-radius: 31.5px;
  margin: 0 20px;
}

.cart .cart-content .cart-content__promocode .btn:hover, .cart .cart-content .cart-content__promocode .btn:focus {
  background: #0066A4;
}

.cart .cart-content .cart-content__promocode .cart-content__promocode-alert {
  font-weight: bold;
  font-size: calc(8px + (4 + 4 * 0.7) * ((100vw - 320px) / 1920));
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.cart .cart-content .cart-content__promocode .valid {
  color: #15B007;
  max-width: 200px;
}

.cart .cart-content .cart-content__promocode .invalid {
  color: #9398AA;
  max-width: 150px;
}

.cart .cart-content .cart-content__total {
  font-weight: bold;
  font-size: calc(20px + (20 + 20 * 0.7) * ((100vw - 320px) / 1920));
  line-height: 54px;
  color: #505B65;
  margin: 40px 0 20px;
}

.cart .cart-content .cart-content__auth-invalid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart .cart-content .cart-content__auth-invalid .btn {
  margin: 0 20px 0 0;
}

.cart .cart-content .cart-content__auth-invalid .auth-subtext__text {
  margin: 0;
  max-width: 150px;
  text-align: left;
}

.cart .cart-content-clear {
  margin: 60px 0 100px;
}
